	html {
      font-family: neue-haas-grotesk-text, sans-serif;
      font-style: normal;
      line-height: 1;
      font-size: 14px;
      color: black;
      -webkit-font-kerning: normal;
      font-kerning: normal;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      text-size-adjust: 100%;
      -webkit-font-smoothing:antialiased;
    }

	/* make the surrounding scroll yellow */
	body {
		background-color: #FCDC00;
	}

/* FADE IN ON LOAD */

  @keyframes fadeIn
    to { 
      opacity: 1; 
    }

   .fade-in {
      animation: fadeIn 7s ease forwards;
    }


  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }

    100% {
      opacity:1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }

    100% {
      opacity:1;
    }
  }

  .fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
  }

  /* BASIC */

  a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

  a:hover {
    text-decoration: underline;
  }

  p {
    font-size: 14px;
    line-height: 1.4;
    color: black;
    font-weight: 100;
  }

  h2 {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 300;
    color: black;
    margin-top: 0;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
    line-height: 1.15;
  }


/* MAIN */

header {
    padding: 15px;
    height: 100vh;
    margin-bottom: 0;
    /*background-image: url(../images/FMJ.jpg);*/
    background-position: center; 
    object-fit: cover;
  }

.logo {
  width: calc(100vw - 30px);
}

.landing {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

.container {
    float: left;
    width: calc(50% - 25px);
    height: 550px;
    overflow: hidden;
    margin-right: 25px;
    position: relative;
    right: 10px;
    bottom: 20px;
}

.landing_text {
    float: right;
    width: calc(50% - 25px);
    margin-left: 25px;
    margin-bottom: 20px;
  }

.caption {
      display: inline-block;
      width: calc(50% - 25px);
      border-top: solid rgba(0,0,0, 0.3) 1px;
      border-bottom: solid rgba(0,0,0, 0.3) 1px;
      margin-right: 50px;
}

button {
  border: 0;
}

.distribution {
    width: calc(50% - 25px);
    float: right;
    overflow: hidden;
  }

.accordion {
  background-color: #FCDC00;
  width: 100%;
  cursor: pointer;
  padding: 14px;
  padding-left: 0;
  border-top: solid rgba(0,0,0, 0.3) 1px;
  border-bottom: solid rgba(0,0,0, 0.3) 1px;
  text-align: left;
  outline: none;
  font-size: 14px;
  transition: 0.4s
}

.accordion:after {
  content: '\002B';
  color: rgba(0,0,0, 0.5);
  font-weight: bold;
  float: right;
  margin-left: 5px;
  font-weight: 100;
}

.active:after {
  content: "\2212";
}

.panel {
  font-size: 14px;
  width: 100%;
  padding: 0 18px;
  padding-left: 0;
  padding-bottom: -0.7px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel_mob {
  display: none;
}

table {
  width: 100%;
  table-layout: fixed;
  margin-bottom: 10px;
  padding-bottom: 15px;
  border-bottom: solid rgba(0,0,0, 0.3) 1px;
}

td {
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 50px;
  line-height: 1.4;
  vertical-align: top;
}


/* BOTTOM */

.feedback-container {
    border-top: solid rgba(0,0,0, 0.3) 1px;
    margin-top: 150px;
    width: 100vw;
}

.feedback {
  width:  1100px;;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
}

.typeform-widget {
  width: 50%;
  height: 350px;
  float: left;
}

.donor-box {
  width: 50%;
  height: 350px;
  float: right;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 20px;
  overflow: hidden;
}

.donor-caption {
  font-size: 20px;
  margin-top: 110px;
  margin-bottom: 35px;
  color: rgba(0, 0, 0, 0.8);
  opacity: 0.7;
}

  .dbox-donation-button {
    width:200px;opacity:1; background:#000000; color: #fff;text-decoration: none;font-family: sans-serif;display: inline-block;font-size: 24px;font-weight:700;padding-top: 10px; padding-bottom: 12px; box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
  }

a.dbox-donation-button:hover {
    background-color: #252525;
    text-decoration: none;
    transition: background-color 0.2s ease 0s, color 0.2s ease 0s, border-color 0.2s ease 0s, opacity 0.2s ease 0s;
  }

.footer {
  border-top: solid rgba(0,0,0, 0.3) 1px;
  padding-top: 5px;
  height: 50px;
  width: 100%;
  overflow: hidden;

}

.footer_content {

  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}



/* MOBILE */

@media (max-width: 1150px) {

  header {
    height: auto;
    margin-bottom: 100px;
  }

  h2 {
    font-size: 32px;
  }

  .landing {
    width: 80vw;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .landing_text {
    margin-bottom: 70px;
  }

  .container {
    height: 400px;
    right: 0;
    bottom: 0
  }

  .feedback {
    height: auto;
	width:100vw;
  }

  .typeform-widget {
    width: 100vw;
    float: none;
    border-bottom: solid rgba(0,0,0, 0.3) 1px;
  }

  .donor-box {
  width: 100vw;
  float: none;
  }



  .donor-caption {
      margin-top: 120px;
      font-size: 20px;
  }

  .footer_content {
    width: 80vw;
  }

}

@media (max-width: 800px) {
  header {
    margin: 0;
  }

  .issue {
    font-size: 14px;
  }
  .container {
    float: none;
    width: 100%;
    height: 70vh;
  }

  .landing_text {
    float: none;
    width: 100%;
    margin-left: 0;
  }

  table {
    display: none;
  }

  .panel_mob {
    display: inline-block;
    width: 100%;
    line-height:1.8;
  }

  .panel {
    width: 100%;
  }

  .footer {
    padding-top: 25px;
    height: 70px;
  }
}

@media (max-width: 480px) {
  .caption > .right {
    float: left;
  }

    .issue {
  display: none;
  }
}

@media (max-width: 420px) {

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }

  .landing{
    margin-top: 550px;
    width: 90vw;
  }

  .issue {
    font-size: 16px;
    line-height: 1.4;
    margin-top: 16px;
	display: initial;
  }

  .container {
    width: 100vw;
    height: 550px;
    margin-top: 17vw;
    margin-right: 0;
    position: absolute;
    top: 0
  }

  .caption {
    width: 100%
  }

  .caption > .right {
    float: right;
    margin-top: 16px;
  }

  .accordion {
    border-top: none;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
  }

  .panel {
    font-size: 16px;
  }

  .distribution {
    width: 100%;
  }

  .donor-box {
    font-size: 16px;
    vertical-align: middle;
  }

  .donor-caption {
    color: rgba(0, 0, 0, 0.8);
    opacity: 0.7;
    margin: 25px;
    margin-top: 110px;
  }

  .footer {
    height: 120px;
  }

  .footer_content {
    width: 90vw;
  }

  .footer_content > .left {
    width: 100%;
  }

  .footer_content > .right {
    float: left;
  }



}

